body{
    background-image: url('yuzhou03.jpg');
}
#inner{
    position:absolute;
    top:370px;
    left:900px;
}
table{
    background-color: black;
    margin:auto;
}
table tr td{
    width:29px;
    height:29px;
    border-spacing:2px;
}
#begin, #pulse, #goon{
    background-color: orange;
    border:1px solid #aaaaaa;
    border-radius:50%;
    color: slategrey;
    font-family: 'Times New Roman', Times, serif;
    padding:10px;
    margin:10px 5px;
    cursor: pointer;
}
#score{
    width:50px;
    padding:5px;
    color: aqua;
    border:2px solid black;
}